.jumbotron
  - if user_signed_in?
    %h2 Hello #{current_user.first_name} #{current_user.last_name}!

    %h3 Here's how Vouch works:

    .row-fluid
      .span4
        %h4 1. Start a list of vouches
      .span4
        %h4 2. Name your favorite restaurants
      .span4
        %h4 3. Share with friends!

    %br

    - if current_user.has_lists?
      %h4
        Let's get started with restaurants in...
    - else
      %h4
        Pick your destination!

    %br

    - City.alphabetical.each do |city|
      %a#get_started.btn.btn-large.btn-success{ :href => new_vouch_list_city_path(city.name) }
        = city.my_name
      %br
      %br

  - else
    %h1 Welcome to Vouch!

    %p.lead
      You don’t care what 4,000 people think of La Luce, you just want to know where your foodie friend would go to dinner tonight.

    %h3
      Get Started  
    -# = facebook_login_banner
    = render "sign_up_form"
