.jumbotron
  %h1 Welcome to Vouch!

  %p.lead
    You don’t care what 4,000 people think of La Luce, you just want to know where your foodie friend would go to dinner tonight.

  %a.btn.btn-large.btn-success{ :href => "#get_started", :role => "button", "data-toggle" => "modal" }
    Get Started

  #get_started.modal.hide.fade{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "something", "aria-hidden" => "true" }
    .modal-header
      %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" } x
      %h3 Get Started with Vouch
    .modal-body
      %p
        alksdjflkasdj
    .modal-footer
      %button.btn.pull-left{ "data-dismiss" => "modal", "aria-hidden" => "true" } Previous
      %button.btn.btn-primary Next
