.jumbotron
  - if user_signed_in?
    %h2 Hi #{current_user.first_name.capitalize}, Welcome To Vouch!

    %h3 Here's how Vouch works:
    %br

    .row-fluid
      .span4
        %h4 1. Create Vouches In Your Favorite City
      .span4
        %h4 2. Share Your Favorite Restaurants With Friends
      .span4
        %h4 3. View Their Vouches & Try New Places!

    %br
    %br

    - if current_user.has_lists?
      %h4
        Let's Get Started With Restaurants In...
    - else
      %h4
        Pick Your Destination!

    %br

    - City.alphabetical.each do |city|
      %a#get_started.btn.btn-large.btn-success{ :href => new_vouch_list_city_path(city.name) }
        = city.my_name
      %br
      %br

  - else
    %h1 Welcome to Vouch!

    %p.lead
      You don’t care what 4,000 people think of La Luce, you just want to know where your foodie friend would go to dinner tonight.

    %h3
      Get Started  
    -# = facebook_login_banner
    = render "sign_up_form"
