.jumbotron
  %h1 Welcome to Vouch!

  %p.lead
    You don’t care what 2,000 people think of La Luce, you just want to know where your foodie friend would go to dinner tonight.

  %a.btn.btn-large.btn-success{ href: "#" }
    Get Started
