%h1
  Users

- if @users.count == 0
  There are no users at this time.
- else
  %table.table
    %thead
      %tr
        %th
          Email
        %th
          Name
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.email
          %td
            = user.name
