.list-creation-first
  %h3
    Tell us your favorite five restaurants for a sunny company outing!

  = form_for @vouch_list do |f|
    .alert.alert-error.list-errors

    .control-group
      = f.label :title, "Or, alternatively, give your list a different title!"
      .controls
      = f.text_field :title, class: "input-xxlarge", placeholder: "Favorite date night restaurants"

    -# .control-group
    -#   = f.label :description, "Optionally, add some fancy descriptions here!"
    -#   = f.text_area :description, rows: 5, class: "input-xxlarge"

.list-creation-second
  .alert.alert-error.restaurant-input-error
  -# .control-group
  %h4 Search for Restaurants
  .input-append
    %form{ 'data-bind' => "submit: addItem" }
      = text_field_tag 'business_name', nil, :placeholder => "Start typing...", :class => "input-large", 'data-provide' => "typeahead", 'data-source' => '["' + @restaurants.map { |r| r.name }.join("\",\"") + '"]', :autocomplete => "off", 'data-bind' => 'value: newItemName', :id => "typed_restaurant_name"
      %button.btn{ :type => "submit" }
        Add to list

  .loading-image

  %table.table.restaurants-table
    %thead
      %tr
        %th
          Restaurant
        %th
          Neighborhoods
        %th
          City
        %th
          Yelp Rating
        %th
          Yelp Reviews
    %tbody{ 'data-bind' => 'foreach: items' }
      %tr
        %td{ 'data-bind' => "text: name" }
        %td{ 'data-bind' => "text: neighborhood" }
        %td{ 'data-bind' => "text: city" }
        %td{ 'data-bind' => "text: yelp_rating" }
        %td{ 'data-bind' => "text: yelp_reviews" }
        %input{ 'data-bind' => "text: id", :type => "hidden" }

      -# %tr.restaurants-list
      -#   %td.restaurant-placeholder{ colspan: "5" }
      -#     Your list of favorite restaurants will appear here!

.list-creation-third
  %br
  .control-group
    %button{ 'data-bind' => 'click: save', :class => "btn btn-primary btn-large" }
      Save My List

:javascript
  var CITY = "San Francisco";
