.friendship-listing-item {
  line-height: 30px;
}

.friend-lookup {
  padding-top: 14px;
  h4 {
    font-family: 'Bitter', 'Droid Serif', Helvetica, Arial, sans serif;;
    padding-bottom: 10px;
  }
}

.friendship-errors,
.friendship-success {
  display: none;
}
