.list-errors {
  display: none;
}

.loading-image {
  width: 16px;
  height: 16px;
  background: url(image_path("loading.gif")) no-repeat;
  display: none;
}

.restaurant-input-error {
  display: none;
}

.list-creation-second {
  form {
    margin-bottom: 10px;
  }
}
